@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* Shared Styles */
  body{
    margin: 0;
  }
.d-flex{
    display: flex;
}
  /* header styles */
.navbar,.banner-section{
    width: 80%;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
  .nav-title{
    margin-left: 11px;
    color: #111;
  }
  .nav-logo {
    height: 62px;
    width: 62px;
    display: block;
  }
  .navbar-nav{
    gap: 32px;
    padding-left: 0;
  }
  .nav-item{
    list-style-type: none;
  }
  .nav-link {
    text-decoration: none;
  }
  .nav-item:nth-child(1) .nav-link {
    color: red;
  }

  .nav-item:nth-child(2) .nav-link {
    color: green;
  }

  .nav-item:nth-child(3) .nav-link {
    color: blue;
  }

  .nav-item:nth-child(4) .nav-link {
    color: orange;
  }
  .nav-btn{
    width: 197px;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
    border-style: none;
    background-color: #FEA301;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
  }
  .navicon-bars{
    display: none;
    height: 30px;
    width: 30px;
    font-size: 30px;
  }
  .nav-hr{
    display: none;
  }
/* Banner Section Styles */
.banner-section{
  gap: 50px;
}
.banner-section img{
  width: 100%;
}
.b-title{
  font-size: 56px;
  color: #111;
  margin: 0;
}
.b-title span:first-child{
  color: #FEA301;
}
.b-title span:last-child{
  color: #01ACFD;
}
.b-desc{
  color: #111;
  font-size: 20px;
  font-weight: 400;
  margin: 24px 0;
}
.enroll-btn{
  width: 197px;
  padding: 10px;
  border-radius: 12px;
  background-color: #111;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}
  /* Mobile Device Responsive */
  @media screen and (max-width: 576px) {
    .navbar-nav, .nav-btn, .nav-title{
        display: none;
    }
    .navicon-bars{
        display: initial;
      }
      .nav-hr{
        display: block;
        border-top: 1px solid #FEA301;
        margin: 0px;
      }
      .banner-section{
        flex-direction: column-reverse;
      }
      .b-container{
        text-align: center;
      }
  }